<h1>Sign up!</h1>

<div class="large-4">
  <%= form_for (@user) do |f| %>
    <div>
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>

    <div>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div>
      <%= f.submit 'Sign up!', class: 'button' %>
    </div>
  <% end %>
</div>
